{
  "env": {
    "es6": false,
    "node": false
  },
  "globals": {
    "load": true,
    "LocalBrowserFactory": true,
    "SauceBrowserFactory": true,
    "polymerTests": true,
    "checkLayout": true,
    "System": true
  }
}
